<h1> Welcome to  Event Management  system </h1>
<h2> Select your role</h2>
<button><a href="/adminlog">admin</a></button>
<button><a href="/userlog">customer</a></button>
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #e8eca0; /* Light grey background */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333; /* Dark grey color */
    text-shadow: 2px 2px 4px rgba(111, 149, 169, 0.1); /* Text shadow for depth */
    padding: 20px 0;
}

h2 {
    text-align: center;
    color: #25033a; /* Medium grey color */
    margin-bottom: 20px;
}

button {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #b6e6b7; /* Green */
    color: rgb(219, 153, 183);
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

button a {
    color: rgb(242, 109, 144);
    text-decoration: none;
}

button:focus {
    outline: none;
}

</style>